<div class="container">
  <div *ngIf="successfullyEdited" class="alert alert-info" role="alert">
    <span
      class="closebtn"
      onclick="this.parentElement.style.display='none';"
      (click)="this.successfullyEdited = false"
      >&times;User successfully edited</span
    >
  </div>
  <div class="form-group">
    <label for="name">First name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="firstName"
      (input)="validateFirstName($event)"
    />
    <div *ngIf="validEmployee.validFirstName" class="text-danger">
      First name must contain only letters.
    </div>
  </div>
  <div class="form-group">
    <label for="name">Last name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="lastName"
      (input)="validateLastName($event)"
    />
    <div *ngIf="validEmployee.validLastName" class="text-danger">
      Last name must contain only letters.
    </div>
  </div>
  <div class="form-group">
    <label for="name">Birthday</label>
    <input type="date" class="form-control" [(ngModel)]="birthDate" (input)="setAge($event)" />
  </div>
  <div class="form-group">
    <label for="name">Age</label>
    <input
    disabled
      type="number"
      class="form-control"
      [(ngModel)]="age"
    />
    <div *ngIf="validEmployee.validAge" class="text-danger">
      Age must be between 0 and 120
    </div>
  </div>
  <div class="form-group">
    <label for="name">Position</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="position"
      (input)="validatePosition($event)"
    />
    <div *ngIf="validEmployee.validPosition" class="text-danger">
      Please enter a valid position
    </div>
  </div>
  <div class="form-group">
    <label for="name">Email</label>
    <input
      type="email"
      class="form-control"
      [(ngModel)]="email"
      (input)="validateEmail($event)"
    />
    <div *ngIf="validEmployee.validEmail" class="text-danger">
      Please enter a valid email
    </div>
  </div>
  <button class="btn btn-primary" (click)="editEmployee()">
    Edit employee
  </button>
</div>
