<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase mb-1">Manage Users</h5>
        </div>
        <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead></thead>
            <tbody class="container">
              <tr *ngFor="let employee of employees">
                <app-employee-item [employee]="employee"> </app-employee-item>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
